[submodule "Angular"]
	path = Angular
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_glosario.git
[submodule "Nest"]
	path = Nest
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_nest_glosario.git
[submodule "Conceptos"]
	path = Conceptos
	url = https://github.com/santiago-reyes-buitrago/Conceptos_Glosario.git
[submodule "SQL"]
	path = SQL
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_Sql.git
[submodule "Java"]
	path = Java
	url = https://github.com/santiago-reyes-buitrago/Java_Glosario_Estudio.git
[submodule "Astro"]
	path = Astro
	url = https://github.com/santiago-reyes-buitrago/Astro_Glosario_Estudio.gitc
[submodule "Html_Css"]
	path = Html_Css
	url = https://github.com/santiago-reyes-buitrago/estudio_udemy_Html_Css.git
